.modal-page {
  position: fixed;
  background-color: #fff;
  padding-top: 1.5rem;
  z-index: 100;
  width: 15%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  left: 5%;
  top: 5%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  margin-top: 70px;
  height: 500px;
  overflow-y: scroll;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
 
  
}
.xclose{
  position: absolute ;
  top: 0;

    right: 0;
    padding: 10px 15px;
    font-size: 2rem;
     cursor: pointer;
}
.modal-page section {
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1 1;
  padding: 1rem;
}

.modal-page tr,th{
  text-align: center !important;
  padding: 16px 0 !important;
}

